$color-primary: #07889b;
$color-primary-light: #66b9bf;
$color-primary-dark: #015460;
$color-primary-md: #026B7A;

$color-secondary: #E37222;
$color-secondary-light: #F1914D;
$color-secondary-dark: #8F3B00;

$color-white: #fff;

$color-black: #000;

$color-gray-light: #e4e4e4;
$color-gray:  #CDCDCD;
$color-gray-dark: #a9a9a9;

